body{
    font-family: Roboto, sans-serif;
}
.header {
    background-color: #1f2937;
    color: white;
}
.one{
    background-color: #1f2937;
    color: white;
}
.main-text{
    color:white;
    font-size:48px ;
    font-weight: 900;
}